// Card size - A7
// 74 x 105 mm
// 2.9 x 4.1 in (retarded units)
$CardWidth: 1054px;	// 74mm in 300dpi
$CardHeight: 1656px;	// 125mm in 300dpi

// Other dimensions
$BorderWidth: 90px;	// 7.6mm in 300dpi
$FontSizeDefault: 42px;	// 10pt in 300dpi

// Colors
$Abjuration_color: #d84748;

body
{
	margin: 0;
	padding: 0;
	display: block;
	font-size: $FontSizeDefault;
	font-family: 'Fira Sans Condensed', sans-serif;
}

.whole_card
{
	display: flex;
	flex-direction: column;
}

.card_side
{
	position: relative;
	// Border adds up to content
	height: $CardHeight - $BorderWidth;
	width: $CardWidth - $BorderWidth;

	//page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;

	border: $BorderWidth solid $Abjuration_color;
	// Border with rounded corners
	// border-radius: $BorderWidth * 2;

	.caption
	{
		//background-color: $BorderColor;
		//border-radius: $BorderWidth $BorderWidth 0 0;

		h1, h2, h3, h4, h5, h6
		{
			margin: 0;
			padding: 12px;
			width: 70%;		// overlaps with the flag
		}	// end h1-h6
	}	// end .caption

	.main_content
	{
		margin: 12px;
		//height: calc(125mm - 1.2mm);
		box-sizing: border-box;		// hight will be detected properly by JS then
	}

	.back_bg		// styling background
	{
		background-image: url('../graphics/abjuration_yellow.png');
		background-repeat: no-repeat;
		background-size: 100% auto;		// height width
		background-position: 0% 40%;	// x y
	}
}

// Card face or back specific things
.front
{

}

.back
{
	background-image: url('../graphics/colorizable1.jpg');
	background-size: auto 100%;

	color: white;
}

.upper_block
{
	.skill_type
	{
		font-style: italic;
		font-size: 38px;	// 9pt in 300dpi
	}

	hr
	{
		margin: 6px 0;
	}
}

// flag on top right
.flag_container
{
	position: absolute;
	top: -0.6mm;
	right: 5%;
	width: 189px;	// 16mm in 300dpi

	div.flag
	{
		padding: 6px;

		background-color: $Abjuration_color;
		text-align: center;

		span.level
		{
			font-size: 88px;	// 21pt in 300dpi
		}
	}

	div.flag_bottom
	{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 59px 94px 0 94px;
		border-color: $Abjuration_color transparent transparent transparent;
	}
}

section
{
	h1, h2, h3, h4, h5, h6
	{
		margin: 12px 0;
		padding: 0;

		border-bottom: 4px solid black;
	}	// end h1-h6

	p
	{
		margin: 0;
	}
}	// end section

.small-icon
{
	width: 59px;
	height: 59px;
}
.small-icon-label
{
	vertical-align: 12px;
	margin: 0 0.5mm;
}
.large-icon, .not-needed
{
	width: 23%;
	height: 23%;

	// components different width fix
	min-width: 22%;
	min-height: 22%;
}
.not-needed
{
	opacity: 0.15;
}
.material-desc
{
	display: table-cell;
	vertical-align: middle;
	font-size: 29px;	// 7pt in 300dpi
}

// stats
section.stats
{
  display: flex;
  flex-wrap: wrap;
}

hr
{
	border: 0;
	height: 3px;
	background: linear-gradient(to right, black 0%, transparent 100%);
}
