<!DOCTYPE HTML>
<html>
<head>
	<!-- Styles -->
	<link href="dnd-a7-abjuration.css" rel="stylesheet" type="text/css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed" rel="stylesheet">
	<title>DND first set</title>
</head>
<body>
{% for card in set %}
<div class="whole_card">

	<!-- front side -->
	<div class="card_side">
		<div class="caption">
			<h1>{{ card.name }}</h1>
		</div>

		<div class="main_content">
			<div class="upper_block" style="width: 70%;">
				<span class="skill_type">{{ card.level }} {{ card.school }}</span>
				<hr>
			</div>

			<div class="flag_container">
				<div class="flag">
					<!--{{ class }}-->
					Spell level
					<br>
					<span class="level">
					{% if card.level|lower == "cantrip" %}
						0
					{% else %}
						{{ card.level }}
					{% endif %}
					</span>
					
				</div>
				<div class="flag_bottom"></div>
			</div>

			<section class="stats">
				<div><img class="small-icon" src="../graphics/stopwatch.svg"><span class="small-icon-label">{{ card.casting_time}}</span></div>
				<div><img class="small-icon" src="../graphics/high-shot.svg"><span class="small-icon-label">{{ card.range }}</span></div>
				<div><img class="small-icon" src="../graphics/hourglass.svg"><span class="small-icon-label">{{ card.duration }}</span></div>
			</section>

			<section class="description">
				<h4>Description of the skill</h4>
				<p>{{ card.description }}</p>
			</section>

			{% if card.at_higher_level %}
			<section class="">
				<h4>At higher levels</h4>
				<p>{{ card.at_higher_level }}</p>
			</section>
			{% endif %}

			<section class="">
				<h4>Components</h4>
				<div style="display: flex; flex-direction: row;">
				{% if card.V %}
				<img class="large-icon" src="../graphics/g-clef.svg">
				{% else %}
				<img class="large-icon not-needed" src="../graphics/g-clef.svg">
				{% endif %}

				{% if card.S %}
				<img class="large-icon" src="../graphics/magic-swirl.svg">
				{% else %}
				<img class="large-icon not-needed" src="../graphics/magic-swirl.svg">
				{% endif %}

				{% if card.M %}
				<img class="large-icon" src="../graphics/swap-bag.svg"><div class="material-desc">{{ card.M }}</div>
				{% else %}
				<img class="large-icon not-needed" src="../graphics/swap-bag.svg">
				{% endif %}
				</div>
		</section>
		</div>
	</div>

	<!--<br>-->

	<!-- back side -->
	<div class="card_side back">
		<div class="caption">
			<h1 style="text-align: center; width: 100%;">{{ card.school }}</h1>
		</div>

		<div class="main_content back_bg">
		</div>
	</div>
</div>
{% endfor %}

<script>
///
/// font reducer
///
// parameters of the font
var default_size = 42;
var min_size = 33;
// ingorred blocks in height calculations
var ignorred_blocks = ["flag_container", "description"];
// get sides off all the cards
var sides = document.getElementsByClassName("card_side");
// only even sides are needed (front)
for(var index = 0; index < sides.length; ++index)
{
	var side = sides[index];
	// reducing size of the main_content because of the header
	var header = side.children[0];
	var content = side.querySelector(".main_content");
	var content_margin = parseFloat(getComputedStyle(content, null).getPropertyValue("margin-bottom")).toFixed(0)		// issues with counting border width not counted

	if((index % 2) != 0)		// reduces .main_content on the back side
	{
		content.style.height = side.clientHeight - header.clientHeight + "px";
		continue;
	}
	else if(side.clientHeight > content.clientHeight + header.clientHeight)	// do we need to reduce the font?
		continue;	// elements are not exceeding the card side

	// reducing font size of the Description
	var occupied_height = 0;
	for(var child = 0; child < content.childElementCount; ++child)
	{
		// in case our child is in the black list
		if(ignorred_blocks.indexOf(content.children[child].className) != -1)
			continue;

		occupied_height += content.children[child].clientHeight;
	}

	// target hight it tries to reach
	var target_height = content.clientHeight - occupied_height - content_margin;		// fix: border width is missing (content_margin)

	var description_section = content.querySelector('.description');
	var description = description_section.lastElementChild;

	for(var size = default_size; description_section.clientHeight > target_height; --size)
	{
		description.style.fontSize = size + "px";
		if(size < min_size)
		{
			var card_index = index / 2;
			console.log("font for description becomes too small! Card:", card_index.toFixed(0));
			description.style.backgroundColor = "red";
			break;
		}
	}
}
</script>
</body>
</html>
