// todo: make component configurable
// flag on top right
.flag_container
{
    position: absolute;
    top: -0.6mm;
    right: 5%;
    width: 189px;   // 16mm in 300dpi

    div.flag
    {
        padding: 6px;

        // background-color: $Abjuration_color;
        text-align: center;

        span.level
        {
            font-size: 88px;    // 21pt in 300dpi
        }
    }

    div.flag_bottom
    {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 59px 94px 0 94px;
        // border-color: $Abjuration_color transparent transparent transparent;
    }
}