body	// common template
{
	margin: 0;
	padding: 0;
	display: block;
	font-size: $DefaultFontSize;
	font-family: $DefaultFont, sans-serif;
	color: $BrightGreyColor;
}

.whole_card		// common template
{
	display: flex;
	flex-direction: column;
}

.card_side		// Background graphics should be applied to this class
{
	position: relative;
	// Bleed adds to desired card size
	height: $CardHeight;
	width: $CardWidth;
	// allow bleed area with continuing design
	padding: $BleedSize;

	//page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;

	// border: $BorderWidth solid $Abjuration_color;
	// todo: make rounded corners a switchable class
	// Border with rounded corners
	// border-radius: $BorderWidth * 2;

	// === debug
	background-image: url(../graphics/leather_texture.jpg);
	// === debug

	.caption		// fixme: need refinement (block dimensions)
	{
		//background-color: $BorderColor;
		//border-radius: $BorderWidth $BorderWidth 0 0;

		//display: inline-block;
		h1, h2, h3, h4, h5, h6
		{
			// padding: 12px;
		}	// end h1-h6
	}	// end .caption

	.main_content
	{
		height: $CardHeight;
		width: $CardWidth;

		box-sizing: border-box;		// hight will be detected properly by JS
	}
}

.flex { display: flex; }
.flex_column { flex-direction: column; }
.flex_row { flex-direction: row; }

.relative {position: relative; }
.absolute {position: absolute; }
