// Design should extend out the cutting line. Process requires that so the final size of the page is $BleedSize * 2 larger
$BleedSize: 35px;	// Will be added from each side

// Page sizes
$A6_Width: 1748px;		// 148mm (300dpi)
$A6_Height: 1240px;		// 105mm (300dpi)

// Metric sizes
$_1mm: 12px;
$_2mm: 24px;
$_3mm: 35px;
$_4mm: 47px;
$_5mm: 59px;
$_6mm: 71px;
$_7mm: 83px;
$_8mm: 94px;
$_9mm: 106px;
$_10mm: 118px;

// Font sizes

// margins and paddings
.padding_3mm { padding: $_3mm; }
