@import "sizes";		// default page sizes

// Card size - A6
//     ___148mm____
//    |     |      |
// 105mm    | 74mm |
//    |     |<---->|
//    
$CardWidth: $A6_Width;
$CardHeight: $A6_Height;

// Colors
$DefaultColor: #d84748;
$BrightColor: #dddcc5;
$BrightGreyColor: #958976;
$DarkGreyColor: #6a6a61;
$BlackColor: #1d2326;
$DarkRedColor: #611427;

// Fonts
$DefaultFont: "Kelly Slab", cursive, sans-serif;;
$DefaultFontSize: 42px;

// Card face or back specific things
.front
{

}

.back
{
	background-image: url(../graphics/mafia_bg.jpg) !important;
	background-size: 100% 100%;

	.print_info
	{
		position: absolute;
		bottom: $_3mm;
		right: $_3mm;
	}
}

.half		// half of the front side
{
	padding: $_4mm;		// padding for the content
	width: 50%;
}

img
{
	min-height: 0;
	min-width: 0;
	max-width: 100%;
	max-height: 100%;
}

.fold_line		// line in between folding sides
{
	background-color: $DarkGreyColor;
	width: 5px;
}

hr
{
	border: 0;
	height: 3px;
	background: linear-gradient(to right, black 0%, transparent 100%);
}

blockquote 
{
	font-family: 'Kristi', cursive;
}

#capital
{
	color: $DarkRedColor;
}

p
{
	font-weight: bold;
}

body
{
	text-shadow: 3px 2px 0px $DarkRedColor;
}
@import "common";
