<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<!-- Styles -->
	<link href="mafia.css" rel="stylesheet" type="text/css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Kelly+Slab&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kristi" rel="stylesheet">
	<title>Mafia (Edgar) rel 1</title>
</head>
<body>
{% for card in set %}
<div class="whole_card">

	<!-- front side -->
	<div class="card_side">
		<div class="main_content flex flex_row">
			<div class="half flex flex_column">
				<h1>{{ card.name }}</h1>
				<img src="{{ card.image }}" id="role_image"/>
			</div><!-- Left half -->

			<div class="fold_line"></div>

			<div class="half">
				<h2>Роль: {{ card.alignment }}</h2>
				<p>{{ card.description }}</p>
				<h2>Цель:</h2>
				<p>{{ card.win_conditions }}</p>	
			</div><!-- Right half -->
		</div>
	</div>

	<!--<br>-->

	<!-- back side -->
	<div class="card_side back">
		<div class="main_content relative flex">
			<div class="half">
			</div><!-- Left half -->

			<!--<div class="fold_line"></div>-->

			<div class="half" style="display: flex; flex-direction: column; justify-content: flex-start;">
				<h1><span class="capital">M</span>afia</h1>

				<blockquote>Wrong is the one who lost all his argument</blockquote>

				<p>This set of cards was 100% engineered and produced in Estonia by a small group of developers with love and caring attitude to those playing tabletop games.

				<p>You can create and get your absolutely unique card or set of cards for any game or activity on our site.</p>

				<p>However, for now, Have a nice game!</p>
			</div><!-- Right half -->
			
			<span class="print_info">yourcards.gq 2018 s.1</span>
		</div>
	</div>
</div>
{% endfor %}

</body>
</html>
